/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide :@!!!!!! */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.playlists .paging td {
    text-align: center;
}

.playlists .paging td table {
    width: auto;
    margin: 0 auto;
    text-align: center;
}

.playlists .paging a,
.playlists .paging span {
    display: inline-block;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    margin: 10px 1px;
    text-decoration: none;
    color: #fff;
}

.playlists .paging a {
    background-image: linear-gradient(to bottom, #337ab7 0, #265a88 100%);
}

.playlists .paging a:hover {
    background: #265a88;
    border-color: #245580;
}

.playlists .paging span {
    background: #265a88;
    border-color: #245580;
}

.videoPlayer {
    border: 1px solid #ccc;
    height: 420px;
    padding: 20px 0;
    overflow-y: scroll;
}

.animation {
    position: absolute;
    -webkit-animation-iteration-count: 1;
    -moz-animation-iteration-count: 1;
    -o-animation-iteration-count: 1;
    animation-iteration-count: 1; /* Chrome, Safari, Opera */
   
    -webkit-animation-duration: 1.6s; /* Chrome, Safari, Opera */
    -moz-animation-duration: 1.6s;
    -o-animation-duration: 1.6s;
    animation-duration: 1.6s;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
}

.slide-to-right {
    -webkit-animation-name: right-slide; /* Chrome, Safari, Opera */
    -moz-animation-name: right-slide;
    -o-animation-name: right-slide;
    animation-name: right-slide;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes right-slide {
    0%   { opacity: 0.0; left:0}
    100% { opacity: 1.0; left:350px;}
}

/* Firefox */
@-moz-keyframes right-slide {
    0%   { opacity: 0.0; left:0}
    100% { opacity: 1.0; left:350px;}
}

/* Standard syntax */
@keyframes right-slide {
    0%   { opacity: 0.0; left:0}
    100% { opacity: 1.0; left:350px;}
}

.slide-to-left {
    -webkit-animation-name: left-slide; /* Chrome, Safari, Opera */
    -moz-animation-name: left-slide;
    -o-animation-name: left-slide;
    animation-name: left-slide;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes left-slide {
    0%   { opacity: 0.0; right:0}
    100% { opacity: 1.0; right:350px;}
}

/* Firefox */
@-moz-keyframes left-slide {
    0%   { opacity: 0.0; right:0}
    100% { opacity: 1.0; right:350px;}
}

/* Standard syntax */
@keyframes left-slide {
    0%   { opacity: 0.0; right:0}
    100% { opacity: 1.0; right:350px;}
}

.slide-to-top {
    -webkit-animation-name: top-slide; /* Chrome, Safari, Opera */
    -moz-animation-name: top-slide;
    -o-animation-name: top-slide;
    animation-name: top-slide;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes top-slide {
    0%   { opacity: 0.0; bottom:0}
    100% { opacity: 1.0; bottom:120px;}
}

/* Firefox */
@-moz-keyframes top-slide {
    0%   { opacity: 0.0; bottom:0}
    100% { opacity: 1.0; bottom:120px;}
}

/* Standard syntax */
@keyframes top-slide {
    0%   { opacity: 0.0; bottom:0}
    100% { opacity: 1.0; bottom:120px;}
}

.slide-to-bottom {
    -webkit-animation-name: bottom-slide; /* Chrome, Safari, Opera */
    -moz-animation-name: bottom-slide;
    -o-animation-name: bottom-slide;
    animation-name: bottom-slide;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes bottom-slide {
    0%   { opacity: 0.0; bottom:0}
    100% { opacity: 1.0; bottom:-120px;}
}

/* Firefox */
@-moz-keyframes bottom-slide {
    0%   { opacity: 0.0; bottom:0}
    100% { opacity: 1.0; bottom:-120px;}
}

/* Standard syntax */
@keyframes bottom-slide {
    0%   { opacity: 0.0; bottom:0}
    100% { opacity: 1.0; bottom:-120px;}
}

.videos-container {
    height: 500px; 
    overflow-y: scroll;
     overflow-x: hidden; 
     padding: 0 15%
}

.videos-container div.row {
    margin-bottom: 2%;
}